In [29]:
import pandas as pd
from apis_core.apis_metainfo.models import Collection as ACollection
from apis_core.apis_entities.models import Person as APerson
from apis_core.apis_entities.models import Place as APlace
from apis_core.apis_entities.models import Institution as AInstitution
from apis_core.apis_entities.models import Work as AWork

In [30]:
file = "data/hbas_family_relations.csv"

In [31]:
df = pd.read_csv(file, encoding="utf-8", delimiter=',')

In [32]:
df

    hbas-key-source seh_relation Hbas-key-target
0           A002186   isSpouseOf         A002002
1           A002295   isSpouseOf         A002073
2           A002080   isSpouseOf         A002002
3           A002250   isSpouseOf         A002006
4           A002644   isSpouseOf         A002624
5           A003854  isSiblingOf         A002007
6           A003855      adopted         A002007
7           A002063  isSiblingOf         A002001
8           A002351  isSiblingOf         A002018
9           A002113  isSiblingOf         A002024
10          A002916  isSiblingOf         A002154
11          A003739  isSiblingOf         A003738
12          A004088  isSiblingOf         A004087
13          A002038   isSpouseOf         A002001
14          A002138   isSpouseOf         A002007
15          A002134   isSpouseOf         A002011
16          A002392   isSpouseOf         A002020
17          A002558   isSpouseOf         A002029
18          A004186   isSpouseOf         A002032
19          A002375   isSpouseOf         A002035
20          A002140   isSpouseOf         A002066
21          A002534   isSpouseOf         A002170
22          A003445   isSpouseOf         A002187
23          A002980   isSpouseOf         A002444
24          A002537   isSpouseOf         A002536
25          A004125   isSpouseOf         A002597
26          A002629   isSpouseOf         A002628
27          A002690   isSpouseOf         A002202
28          A003351   isSpouseOf         A002806
29          A002901   isSpouseOf         A002900
..              ...          ...             ...
94          A002097    isChildOf         A002001
95          A002292    isChildOf         A002007
96          A002399    isChildOf         A002007
97          A003032    isChildOf         A002011
98          A002426    isChildOf         A002035
99          A002097    isChildOf         A002038
100         A003032    isChildOf         A002134
101         A002349    isChildOf         A002350
102         A002018    isChildOf         A002350
103         A002482    isChildOf         A002481
104         A004111    isChildOf         A002403
105         A004164    isChildOf         A004165
106         A002214   isParentOf         A002001
107         A002013   isParentOf         A002002
108         A002139   isParentOf         A002011
109         A002362   isParentOf         A002018
110         A002642   isParentOf         A002185
111         A002624   isParentOf         A002623
112         A003995   isParentOf         A003343
113         A004237  isPartnerOf         A004236
114         A003804  isSiblingOf         A002002
115         A003802  isSiblingOf         A003801
116         A004260    isChildOf         A004255
117         A004261    isChildOf         A004255
118         A002679    isChildOf         A002375
119         A004302   isSpouseOf         A002374
120         A004316    isChildOf         A002729
121         A002141   isParentOf         A003579
122         A004423    isChildOf         A002186
123         A003066    isChildOf         A002011

[124 rows x 3 columns]

In [33]:
df['source'] = df.apply(
    lambda row: "https://bahrschnitzler.acdh.oeaw.ac.at/{}".format(row['hbas-key-source']), axis=1
)

In [34]:
df['target'] = df.apply(
    lambda row: "https://bahrschnitzler.acdh.oeaw.ac.at/{}".format(row['Hbas-key-target']), axis=1
)

In [35]:
for i, row in df.iterrows():
    source = Uri.objects.get(uri=row['source']).entity
    target = Uri.objects.get(uri=row['target']).entity
    rel_type, _ = PersonPersonRelation.objects.get_or_create(
        name=row['seh_relation']
    )
    PersonPerson.objects.get_or_create(
        relation_type=rel_type,
        related_personA=APerson.objects.get(pk=source.id),
        related_personB=APerson.objects.get(pk=target.id)
    )

In [ ]:
set(df['seh_relation'])

In [36]:
file = "data/relation_person_person_family-relations_name_name-reverse.csv"

In [42]:
df = pd.read_csv(file, encoding="utf-8", delimiter=';').fillna('False')

In [44]:
df.head()

          name name_reverse
0   isSpouseOf   isSpouseOf
1  isPiblingOf  isNiblingOf
2  isNiblingOf  isPiblingOf
3      adopted  isAdoptedBy
4  isSiblingOf  isSiblingOf

In [54]:
for i, row in df.iterrows():
    if row['name'] != 'False':
        try:
            pprel = PersonPersonRelation.objects.get(name=row['name'])
        except Exception as e:
            pprel = None
            print(e, row['name'])
        if pprel:
            pprel.name_reverse = row['name_reverse']
            pprel.save()

PersonPersonRelation matching query does not exist. isPiblingOf
PersonPersonRelation matching query does not exist. isNiblingOf

In [50]:
PersonPersonRelation.objects.filter(name='isNiblingOf')